//-
    Error.pug

    Simple error page. Prints out the error from the server
//-

extends base

block content
    div.long-content
        h2 About Mob Justice
        p Irony waistcoat listicle seitan post-ironic. Cliche ugh hella polaroid tumeric la croix. Etsy tofu letterpress sriracha. Four dollar toast heirloom butcher, blog XOXO readymade cronut bitters. Tattooed roof party snackwave, chia squid tumeric listicle kale chips street art kogi church-key shabby chic heirloom. Quinoa pickled intelligentsia succulents chia brooklyn, fingerstache hashtag.
        p Typewriter waistcoat swag, unicorn selfies kale chips pour-over trust fund pug church-key williamsburg VHS portland. Chillwave thundercats 8-bit, franzen tumblr raclette yr gastropub letterpress. Kale chips occupy health goth ennui kickstarter master cleanse. Chia fanny pack you probably haven't heard of them salvia mustache hashtag. Small batch semiotics lo-fi art party. Celiac bushwick craft beer bespoke, kale chips deep v bitters post-ironic poke. 
