//-
    Base.pug

    The base template file for all other templates. Content should
    be inserted into the 'content' block while any custom scripts
    should be inserted into the 'scripts' block
//-

doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')

    //- A block in html
    //- <element class="class" id="id" attribute="value">
    //- 	<span> Some text </span>
    //- </element>

    //- A block in pug
    //- element.class#id(attribute="value", attribute="value") Some Text
    body
        //- div.container
        nav.navbar.mb-4
            div.container
                a.navbar-brand(href="/") Mob Justice        
        
        
        div.container
            div.vertical-center
                block content
        
        footer.footer
            div.container
                div.distribute
                    span
                        a(href="/about") About the Game
                    span
                        a(href="/creators") About the Creators
                    span
                        a(href="https://github.com/DJ-Meyers/Mob-Justice") Github

    // Include all needed scripts
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    // Allow for custom scripts per page
    block scripts
