//-
	Base.pug

	The base template file for all other templates. Content should
	be inserted into the 'content' block while any custom scripts
	should be inserted into the 'scripts' block
//-

doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title= title
		//- link(rel='stylesheet', href='/css/bootstrap.min.css')
		//- link(rel='stylesheet', href='/css/bootstrap-grid.min.css')
		//- //- link(rel='stylesheet', href='/css/bootstrap-reboot.min.css')
		//- link(rel='stylesheet', href='/css/style.css')
		
	//- A block in html
	//- <element class="class" id="id" attribute="value">
	//- 	<span> Some text </span>
	//- </element>
	
	//- A block in pug
	//- element.class#id(attribute="value", attribute="value") Some Text
	body(style="font-size: 2rem;")
		div.container(style="background-color: #fff;")
			nav.navbar.navbar-default
				div.navbar-header
					a.navbar-brand(href="#") Mob Justice

		div.container.vertical-center.white
			block content

		footer.footer
			div.container
				div.distribute
					span 
						a(href="/") About the Game
					span 
						a(href="/") About the Creators
					span 
						a(href="/") Github

	// Include all needed scripts
	script(type='text/javascript', src='/js/socket.io.js')
	script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
	script(type='text/javascript', src='/js/bootstrap.min.js')

	// Allow for custom scripts per page
	block scripts
