//-
    Error.pug

    Simple error page. Prints out the error from the server
//-

extends base

block content
    div#information
        h4 About the Creators
        div#DJ
            h5 DJ Meyers
            p Hell of chillwave health goth 90's. Plaid enamel pin trust fund fam craft beer prism, whatever hell of aesthetic live-edge bespoke chicharrones pitchfork. Brooklyn you probably haven't heard of them slow-carb marfa photo booth, mixtape tumeric pok pok raclette forage 3 wolf moon. Vice vexillologist lomo, pabst shabby chic cornhole selfies fashion axe bespoke drinking vinegar fap everyday carry.
        div#Spencer
            h5 Spencer Reyka
            p Sartorial typewriter pug you probably haven't heard of them. Celiac swag distillery banjo vinyl. Microdosing lomo meggings typewriter direct trade, ramps twee mumblecore keffiyeh distillery woke chillwave. Franzen roof party raclette flannel, put a bird on it bushwick chartreuse prism tbh ennui quinoa disrupt.
