//-
    Error.pug

    Simple error page. Prints out the error from the server
//-

extends base

block content
    div.long-content
        h4 About the Creators
        div#DJ
            h5 DJ Meyers
            p Authentic pop-up tilde trust fund, knausgaard celiac stumptown plaid chia man bun bushwick echo park PBR&B helvetica ethical. Jean shorts lyft occupy, quinoa pug post-ironic schlitz letterpress salvia gentrify craft beer. Kale chips swag scenester, man bun man braid ugh activated charcoal. Tousled affogato jean shorts neutra wolf pour-over. Readymade salvia sriracha truffaut. La croix tilde mustache, selvage affogato kale chips tumeric paleo celiac biodiesel live-edge. Celiac XOXO semiotics, tilde pop-up blue bottle humblebrag 8-bit swag kombucha taxidermy blog health goth offal brunch.
            p Trust fund tofu lomo gastropub, cardigan church-key taxidermy venmo bespoke. Asymmetrical helvetica hammock succulents four loko, stumptown literally yr meggings quinoa. Raclette hella ennui edison bulb. Sustainable butcher pitchfork, deep v prism synth semiotics tilde sartorial scenester hell of celiac live-edge wolf meggings. Readymade humblebrag tumblr, truffaut before they sold out fam godard vinyl chia. Butcher succulents slow-carb, raw denim gastropub scenester offal fanny pack disrupt plaid mlkshk humblebrag gluten-free. Banh mi ramps pabst, kale chips succulents banjo viral swag cardigan intelligentsia salvia godard tumeric fixie.
        div#Spencer
            h5 Spencer Reyka
            p IPhone direct trade affogato plaid health goth stumptown organic, blue bottle food truck church-key air plant. Scenester stumptown vinyl, edison bulb drinking vinegar ugh photo booth craft beer. Dreamcatcher venmo roof party hella, tacos flexitarian chillwave seitan artisan poke heirloom lo-fi readymade air plant marfa. Chartreuse hella shabby chic aesthetic tbh shoreditch. Brunch waistcoat single-origin coffee drinking vinegar. Meditation DIY health goth cornhole, PBRnB ugh lumbersexual tbh readymade humblebrag bitters cold-pressed typewriter. Kitsch sartorial succulents raw denim vinyl.
            p Literally try-hard locavore hella, blue bottle vaporware taxidermy franzen. Artisan pour-over 8-bit, cold-pressed drinking vinegar irony shabby chic iceland trust fund before they sold out la croix. Vegan gluten-free lomo knausgaard, church-key ugh humblebrag vape microdosing pug umami. Live-edge gochujang whatever, semiotics vaporware lomo quinoa ramps subway tile. Everyday carry keffiyeh fixie selfies cornhole, forage aesthetic gentrify. Yuccie craft beer lo-fi PBRnB plaid. Stumptown gentrify asymmetrical kitsch, flexitarian selfies organic messenger bag lomo tattooed.
