//-
	Index.pug

	This is the home page for this project. It is configured to auto-connect
	to the server's websocket and handle any events fired from the server end.
//-

extends base

//- The visual portion of the page
block content
	div.btn-group-vertical.btn-group-lg.btn-block
		button.btn.btn-primary.btn-lg.btn-block.btn-main(onclick="location.href='/create'") Create Room
		button.btn.btn-secondary.btn-lg.btn-block.btn-main(onclick="location.href='/join'") Join Room
