//- 
//- 	Index.pug
//- 
//- 	This is the home page for this project. It is configured to auto-connect
//- 	to the server's websocket and handle any events fired from the server end.
//-

extends base

//- The visual portion of the page
block content
    div.vertical-center#landing
        div.btn-group-vertical.btn-group-lg.btn-block
            button.btn.btn-primary.btn-lg.btn-block.btn-main#createBtn Create Game
            button.btn.btn-secondary.btn-lg.btn-block.btn-main#joinBtn Join Game

    div#createDiv.hidden
        div.notAForm#createForm
            div.form-group
                label(for="name") Your Name
                input.form-control#createName(placeholder="Name" name="name")
            button.btn.btn-primary.btn-block#createSubmit Create Game

    div#joinDiv.hidden
        div.notAForm#joinForm
            div.form-group
                label(for="name") Name
                input.form-control#joinName(type="text", placeholder="Your Name", name="name")
            div.form-group
                label(for="roomId") Room ID
                input.form-control#joinCode(type="text", placeholder="Room ID", name="roomCode")
            div.form-group
                button.btn.btn-primary.btn-block.btn-main#joinSubmit Join Game

    div#gameRoom.hidden
        div.card
            div.card-block
                h4.card-title.alert.alert-info.align-middle#roomCodeTitle(role="alert")
                    strong Room Code: 
                    span#roomCodeSpan
                    span#phase  - Game Lobby
            ul.list-group.align-middle.list-group-flush#gamePlayerList
            div.card-block#voteButtonDiv
            //- button.btn.btn-primary.btn-block#startGame(type="button") Start
    //-         
    //- div.hidden#day
    //-     div.card
    //-         div.card-block
    //-             h4.card-title.alert.alert-info.align-middle.roomCodeTitle(role="alert")
    //-                 strong Room Code: 
    //-                 span.roomCodeSpan
    //-                 span.phase - Day
    //-         ul.list-group.align-middle.list-group-flush#dayPlayerList
    //-         div.card-block#daySubmitButton
    //-     
    //- div#dayWaitingRoom.hidden
    //-     div.card.text-center.mid
    //-         div.card-block
    //-             h4.card-title Special title treatment
    //-                 p.card-text With supporting text below as a natural laed-in to additional context
    //-                     button.btn.btn-primary(type="button" data-toggle="collapse" data-target="#collapseExample" aria-expended="false" aria-controls="collapseExample") 
    //-                     div.collapse#collapseExample Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    //- 
    //- div#votingRoom.hidden
    //-     div.card.middle-align.mid 
    //-         div.card-block
    //-             h4.card-title.alert.alert-info.align-middle(role="alert") This alert needs your attention, but it's not super important.
    //-         ul.list-group.align-middle.list-group-flush#playerList
    //-         div.card-block
    //-             button.btn.btn-outline-primary#submit(type="button") Submit

    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(type="text/javascript").
        var socket = io.connect();

        //Cancer
        var landing 			=	$('#landing');
            var createBtn 		=	$('#createBtn');
            var joinBtn			=	$('#joinBtn');

        var createDiv			=	$('#createDiv');
            var createName		= 	$('#createName');
            var createSubmit	=	$('#createSubmit');

        var joinDiv				=	$('#joinDiv');
            var joinName		=	$('#joinName');
            var joinCode		=	$('#joinCode');
            var joinSubmit		=	$('#joinSubmit');

        var gameRoom			=	$('#gameRoom');
            var roomCodeTitle   =   $('#roomCodeTitle');
            var roomCodeSpan	=	$('#roomCodeSpan');
            var phase           =   $('#phase');
            var gamePlayerList	=	$('#gamePlayerList');

        var votingRoom			=	$('#votingRoom');
            var joinVoting		= 	$('#goToVoting');

        //- var dayWaitingRoom		= 	$('#dayWaitingRoom');
        
        var day

        var roomCode = "", name = "";

        var target = " ";
        var init = false;

        createBtn.click(function() {
            createDiv.removeClass('hidden').addClass('vertical-center');
            landing.addClass('hidden').removeClass('vertical-center');
        });

        joinBtn.click(function() {
            joinDiv.removeClass('hidden').addClass('vertical-center');
            landing.addClass('hidden').removeClass('vertical-center');
        });
        //this does nothing, trying to make toggle work
        /*$(function () {
        //shit just doesnt work, i have no idea why
        $('#accordion').on('show.bs.collapse', function () {
            if (active) $('#accordion .in').collapse('hide');
        });
        });*/

        createSubmit.click(function() {
            roomCode = createRoomCode();
            name = createName.val();

            createDiv.removeClass('vertical-center').addClass('hidden');
            gameRoom.addClass('long-content').removeClass('hidden');

            console.log(name + " attempting to join " + roomCode);
            socket.emit('create', roomCode, name);

            roomCodeSpan.text(roomCode);



            var voteButton = document.createElement('button');
            voteButton.classList.add('btn','btn-primary','btn-block');
            voteButton.appendChild(document.createTextNode('Start Game'));
            voteButton.addEventListener('click', function() {

                socket.emit('startGame', roomCode);

            });

            $('#voteButtonDiv').append(voteButton);
        });

        joinSubmit.click(function() {
            roomCode = joinCode.val();
            name = joinName.val();

            joinDiv.removeClass('vertical-center').addClass('hidden');
            gameRoom.addClass('long-content').removeClass('hidden');

            //moved this part up here so it joins you to room before printing out people in room
            console.log(name + " attempting to join " + roomCode);
            socket.emit('join', roomCode, name);
            socket.emit('getUsers',roomCode,name)
            roomCodeSpan.text(roomCode);

            var voteButton = document.createElement('button');
            voteButton.classList.add('btn','btn-primary','btn-block');
            voteButton.disabled = true;
            voteButton.appendChild(document.createTextNode('Wait on leader to start'));

            $('#voteButtonDiv').append(voteButton);
        });

        socket.on('newUser', function(username, host) {
            console.log(name+" and username: "+username);
            if(host===true || name!==username){
                addUserToGamePlayerList(username);}
        });

        socket.on('usersList', function( names, username ){
            if(username===name){
                for(var i = 0;i<names.length;++i){
                    addUserToGamePlayerList(names[i]);
                }
            }
        });

        socket.on('gameStarted', function() {
            console.log('Game starting');
            $('.badge-pill').remove();
            
            //Change phase to day
            beginDay();

        }); 

        joinVoting.click(function() {

            gameRoom.removeClass('vertical-center').addClass('hidden');
            votingRoom.addClass('vertical-center').removeClass('hidden');

            if(init===false){
                console.log("here");
                var listGroup = document.getElementById('playerList');
                for(var p = 0; p < playerList.length; p++) {
                    var thisPlayer = document.createElement('li');
                    thisPlayer.classList.add('list-group-item','list-group-item-action');

                    if(playerList[p].status === "dead") {
                        thisPlayer.classList.add('disabled');
                    }

                    thisPlayer.appendChild(document.createTextNode(playerList[p].name));
                    thisPlayer.addEventListener('click', function() {
                        /*Anything active make inactive*/
                        if(!this.classList.contains('disabled')) {
                            var currentActive = document.querySelectorAll('.active');
                            for(var j = 0; j < currentActive.length; j++){
                                currentActive[j].classList.remove('active');
                            }


                            this.classList.add('active');

                            target = this.innerHTML;
                            console.log(target);
                        }

                    });
                    listGroup.appendChild(thisPlayer);
                    init = true;
                }
            }

        });

        function addUserToGamePlayerList(username) {
            //- console.log("this is called");
            var thisPlayer = document.createElement('li');
            thisPlayer.classList.add('list-group-item','justify-content-between');

            thisPlayer.appendChild(document.createTextNode(username));

            if(gamePlayerList.children().length === 0) {
                var leaderBadge = document.createElement('span');
                leaderBadge.classList.add('badge','badge-success','badge-pill');
                leaderBadge.appendChild(document.createTextNode('Leader'));
                thisPlayer.appendChild(leaderBadge);
            }

            gamePlayerList.append(thisPlayer);


        }

        function createRoomCode() {
            var code = "";
            for(var i = 0; i < 4; i++) {
                var letter = String.fromCharCode(Math.random() * (26) + 65);
                code += letter;
            }
            //- console.log(code);
            return code;
        }
        
        function beginDay() {
            //Replace Phase with Day and change Alert Color
            phase.text(' - Day');
            roomCodeTitle.removeClass('alert-info').addClass('alert-success');
            
        }
