//- 
//- 	Index.pug
//- 
//- 	This is the home page for this project. It is configured to auto-connect
//- 	to the server's websocket and handle any events fired from the server end.
//-

extends base

//- The visual portion of the page
block content
    div.vertical-center#landing
        div.btn-group-vertical.btn-group-lg.btn-block
            button.btn.btn-primary.btn-lg.btn-block.btn-main#createBtn Create Game
            button.btn.btn-secondary.btn-lg.btn-block.btn-main#joinBtn Join Game

    div#createDiv.hidden
        div.notAForm#createForm
            div.form-group
                label(for="name") Your Name
                input.form-control#createName(placeholder="Name" name="name")
            button.btn.btn-primary.btn-block#createSubmit Create Game

    div#joinDiv.hidden
        div.notAForm#joinForm
            div.form-group
                label(for="name") Name
                input.form-control#joinName(type="text", placeholder="Your Name", name="name")
            div.form-group
                label(for="roomId") Room ID
                input.form-control#joinCode(type="text", placeholder="Room ID", name="roomCode")
            div.form-group
                button.btn.btn-primary.btn-block.btn-main#joinSubmit Join Game

    div#gameRoom.hidden
        div.card
            div.card-block
                h4.card-title.alert.alert-info.align-middle#roomCodeTitle(role="alert")
                    p
                        strong Room Code: 
                        span#roomCodeSpan
                        span#phase  - Game Lobby
                    p#instruction The leader can start the game when everyone is in the lobby.
            ul.list-group.align-middle.list-group-flush#gamePlayerList
            div.card-block#voteButtonDiv
                button.btn.btn-primary.btn-block#voteButton(type="button")
    

    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript", src="/js/Mob-Justice.js")
