extends base

//- The visual portion of the page
block content
    div.vertical-center
        h4 lmao
        ul.list-group
            li.list-group-item Yolo
            li.list-group-item Yolo
            li.list-group-item Yolo
            li.list-group-item Yolo
