<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <div class="container content">
      <div class="align-items-center">
        <button class="btn btn-primary btn-lg btn-block">Create A Game</button>
        <button class="btn btn-secondary btn-lg btn-block">Create A Game</button>
      </div>
    </div><!-- container -->
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
